@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
          box-shadow: 0 0 0px 1000px white inset;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main .main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
  text-align: center;
}

.main .main__wrapper .logo {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin-bottom: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .main__wrapper .logo:hover {
  opacity: 0.8;
}

.main .main__wrapper .main__title {
  font-size: 3rem;
  color: #969696;
}

.main .main__wrapper .main__title span {
  color: #000;
  font-weight: 700;
}

.main .main__wrapper .main__subtitle {
  font-size: 1.2rem;
  margin: 20px 0 40px;
}

.main .main__wrapper form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 16px;
  position: relative;
}

.main .main__wrapper form input {
  font-family: inherit;
  font-size: 16px;
  width: 55%;
  border-radius: 10rem;
  padding: 14px 30px;
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #c2d3ff;
}

.main .main__wrapper form input::-webkit-input-placeholder {
  color: #c2d3ff;
  font-family: inherit;
}

.main .main__wrapper form input:-ms-input-placeholder {
  color: #c2d3ff;
  font-family: inherit;
}

.main .main__wrapper form input::-ms-input-placeholder {
  color: #c2d3ff;
  font-family: inherit;
}

.main .main__wrapper form input::placeholder {
  color: #c2d3ff;
  font-family: inherit;
}

.main .main__wrapper form button {
  width: 25%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border-radius: 10rem;
  background-color: #4f7df3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.main .main__wrapper form button:hover {
  opacity: 0.85;
}

.main .main__wrapper form .error {
  border-color: #ff5263;
}

.main .main__wrapper form .error ~ .error-popup {
  opacity: 1;
}

.main .main__wrapper form .error-popup {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  left: 8.5%;
  bottom: -40%;
  color: #ff5263;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  pointer-events: none;
  opacity: 0;
}

.main .main__wrapper .main__img {
  margin: 70px 0 100px;
}

.main .main__wrapper .main__img img {
  width: 100%;
  height: 100%;
}

.main .main__wrapper .main__social {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .main__wrapper .main__social a {
  border: 1px solid #ddd;
  border-radius: 10rem;
  text-decoration: none;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.main .main__wrapper .main__social a:hover {
  background-color: #517AF4;
  border-color: #517AF4;
}

.main .main__wrapper .main__social a:hover svg path {
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  fill: #fff;
}

.main .main__wrapper .main__copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #969696;
}

@media (max-width: 568px) {
  body .main .main__wrapper form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 180px;
  }
  body .main .main__wrapper form input {
    width: 70%;
  }
  body .main .main__wrapper form button {
    width: 70%;
    padding: 15px 30px;
  }
  body .main .main__wrapper form .error-popup {
    width: 100%;
    text-align: center;
    left: 50%;
    top: 78%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
/*# sourceMappingURL=main.css.map */